/*<meta />*/

a.Popup
{
	
}

body
{
	font-family: 'Proxima Nova';
	font-size: 10pt;
	margin-bottom: 10pt;
	margin-top: 2pt;
}

h1
{
	font: 'Proxima Nova Semibold';
	font-size: 16pt;
	font-style: italic;
	font-variant: small-caps;
	margin-top: 12pt;
	margin-bottom: 3pt;
	page-break-after: avoid;
}

h2
{
	font: 'Proxima Nova Semibold';
	font-size: 16pt;
	page-break-after: avoid;
}

h3
{
	font: 'Proxima Nova Semibold';
	font-size: 10pt;
	page-break-after: avoid;
}

div.NoPageBreak
{
	page-break-inside: avoid;
}

li
{
	padding-left: 6pt;
}

p.SHEL_LAB_Note
{
	margin-top: 2pt;
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: black;
	margin-bottom: 6pt;
	text-align: justify;
}

p.Warranty
{
	font: 'Proxima Nova Semibold';
	font-size: 14pt;
}

p.Title_Family
{
	font-size: 22pt;
	font-style: bold;
	margin-bottom: 15pt;
	color: #A7A6A6;
}

p.Title_Voltage
{
	font-size: 18pt;
	font-style: bold;
	margin-bottom: 10pt;
	color: #A7A6A6;
}

p.Title_Doc_Type
{
	font-size: 28pt;
	margin-bottom: 15pt;
}

p.Title_Units
{
	font-size: 14pt;
	font: 'Proxima Nova Semibold';
	color: #A7A6A6;
}

p.Copyright
{
	font-size: 14pt;
	font-style: bold;
}

p.Copyright_Head
{
	font-size: 16pt;
	font-style: bold;
}

p.Back_Page
{
	font-size: 12pt;
	font: 'Proxima Nova Semibold';
	margin-top: 0pt;
	margin-bottom: 0pt;
}

header
{
	font-size: 22pt;
	text-transform: uppercase;
	font: 'Proxima Nova Semibold';
	margin-bottom: 12pt;
	margin-top: 1pt;
	color: #ffffff;
}

MadCap|pageFooter
{
	font-size: 10pt;
}

MadCap|xref.PageNumberOnly
{
	mc-format: '{page}';
}

