/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: ShellabTableStyle;
	border-collapse: separate;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	max-id: 6;
	frame-break-inside: avoid;
	page-break-inside: avoid;
	cell-padding-left: 10px;
	cell-padding-right: 5px;
	cell-padding-top: 2px;
	cell-padding-bottom: 0px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: none;
	separator-width: 0px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	text-align: left;
	vertical-align: middle;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
	cell-content-style-class: Table_Header;
	cell-content-style-tag: p;
	background-color: #dcdcdc;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	text-align: left;
	vertical-align: middle;
	cell-content-style-class: Table_Body;
	cell-padding-left: 10px;
	cell-padding-right: 5px;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	background-color: #f5f5f5;
}


/* Cell Styles: */
 
.TableStyle-ShellabTableStyle
{
	border-collapse: separate;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	page-break-inside: avoid;
	frame-break-inside: avoid;
	border-spacing: 0px 0px;
}

.TableStyle-ShellabTableStyle-Column-Column1
{
	
}

.TableStyle-ShellabTableStyle-Head-Header1
{
	
}

.TableStyle-ShellabTableStyle-HeadI-Column1-Header1
{
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 0px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
}

.TableStyle-ShellabTableStyle-HeadI-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-ShellabTableStyle-HeadE-Column1-Header1
{
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 0px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-ShellabTableStyle-HeadE-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-ShellabTableStyle-HeadF-Column1-Header1
{
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 0px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-ShellabTableStyle-HeadF-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-ShellabTableStyle-HeadH-Column1-Header1
{
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 0px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
}

.TableStyle-ShellabTableStyle-HeadH-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-ShellabTableStyle-HeadD-Column1-Header1
{
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 0px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-ShellabTableStyle-HeadD-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-ShellabTableStyle-HeadC-Column1-Header1
{
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 0px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
}

.TableStyle-ShellabTableStyle-HeadC-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-ShellabTableStyle-HeadB-Column1-Header1
{
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 0px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
}

.TableStyle-ShellabTableStyle-HeadB-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-ShellabTableStyle-HeadA-Column1-Header1
{
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 0px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
}

.TableStyle-ShellabTableStyle-HeadA-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-ShellabTableStyle-HeadG-Column1-Header1
{
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 0px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
}

.TableStyle-ShellabTableStyle-HeadG-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-ShellabTableStyle-FootI-Column1-
{
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-ShellabTableStyle-FootI-Column1- p
{
	
}

.TableStyle-ShellabTableStyle-FootE-Column1-
{
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: middle;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-ShellabTableStyle-FootE-Column1- p
{
	
}

.TableStyle-ShellabTableStyle-FootF-Column1-
{
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-ShellabTableStyle-FootF-Column1- p
{
	
}

.TableStyle-ShellabTableStyle-FootH-Column1-
{
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: middle;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-ShellabTableStyle-FootH-Column1- p
{
	
}

.TableStyle-ShellabTableStyle-FootD-Column1-
{
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-ShellabTableStyle-FootD-Column1- p
{
	
}

.TableStyle-ShellabTableStyle-FootC-Column1-
{
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-ShellabTableStyle-FootC-Column1- p
{
	
}

.TableStyle-ShellabTableStyle-FootB-Column1-
{
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: middle;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-ShellabTableStyle-FootB-Column1- p
{
	
}

.TableStyle-ShellabTableStyle-FootA-Column1-
{
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-ShellabTableStyle-FootA-Column1- p
{
	
}

.TableStyle-ShellabTableStyle-FootG-Column1-
{
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-ShellabTableStyle-FootG-Column1- p
{
	
}

.TableStyle-ShellabTableStyle-Body-Body1
{
	
}

.TableStyle-ShellabTableStyle-BodyI-Column1-Body1
{
	background-color: #f5f5f5;
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-ShellabTableStyle-BodyI-Column1-Body1 p
{
	
}

.TableStyle-ShellabTableStyle-BodyE-Column1-Body1
{
	background-color: #f5f5f5;
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: middle;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-ShellabTableStyle-BodyE-Column1-Body1 p
{
	
}

.TableStyle-ShellabTableStyle-BodyF-Column1-Body1
{
	background-color: #f5f5f5;
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-ShellabTableStyle-BodyF-Column1-Body1 p
{
	
}

.TableStyle-ShellabTableStyle-BodyH-Column1-Body1
{
	background-color: #f5f5f5;
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: middle;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-ShellabTableStyle-BodyH-Column1-Body1 p
{
	
}

.TableStyle-ShellabTableStyle-BodyD-Column1-Body1
{
	background-color: #f5f5f5;
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-ShellabTableStyle-BodyD-Column1-Body1 p
{
	
}

.TableStyle-ShellabTableStyle-BodyC-Column1-Body1
{
	background-color: #f5f5f5;
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-ShellabTableStyle-BodyC-Column1-Body1 p
{
	
}

.TableStyle-ShellabTableStyle-BodyB-Column1-Body1
{
	background-color: #f5f5f5;
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: middle;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-ShellabTableStyle-BodyB-Column1-Body1 p
{
	
}

.TableStyle-ShellabTableStyle-BodyA-Column1-Body1
{
	background-color: #f5f5f5;
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-ShellabTableStyle-BodyA-Column1-Body1 p
{
	
}

.TableStyle-ShellabTableStyle-BodyG-Column1-Body1
{
	background-color: #f5f5f5;
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-ShellabTableStyle-BodyG-Column1-Body1 p
{
	
}


