/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: ShellabTableStyle;
	border-collapse: separate;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	max-id: 10;
	frame-break-inside: avoid;
	page-break-inside: avoid;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: none;
	separator-width: 0px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	text-align: left;
	vertical-align: middle;
	cell-padding-left: 40px;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
}

mcTableColumnStyle
{
	span: 1;
	id: 7;
	name: Column2;
	text-align: center;
	vertical-align: middle;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	cell-padding-left: 0px;
}

mcTableColumnStyle
{
	span: 1;
	id: 8;
	name: Column3;
	text-align: center;
	vertical-align: middle;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	cell-padding-left: 0px;
}

mcTableColumnStyle
{
	span: 1;
	id: 9;
	name: Column4;
	text-align: center;
	vertical-align: middle;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	cell-padding-left: 0px;
}

mcTableColumnStyle
{
	span: 1;
	id: 10;
	name: Column5;
	text-align: center;
	vertical-align: middle;
	cell-padding-left: 0px;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
	text-align: center;
	font-weight: bold;
	cell-content-style-class: Table_Header;
	cell-content-style-tag: none;
	background-color: #dcdcdc;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	vertical-align: middle;
	cell-padding-left: 0px;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	text-align: left;
	vertical-align: middle;
	cell-content-style-class: table_data;
	background-color: #f5f5f5;
	cell-content-style-tag: none;
}


/* Cell Styles: */
 
.TableStyle-ShellabTableStyle
{
	border-collapse: separate;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	page-break-inside: avoid;
	frame-break-inside: avoid;
	border-spacing: 0px 0px;
}

.TableStyle-ShellabTableStyle-Column-Column1
{
	
}

.TableStyle-ShellabTableStyle-Column-Column2
{
	
}

.TableStyle-ShellabTableStyle-Column-Column3
{
	
}

.TableStyle-ShellabTableStyle-Column-Column4
{
	
}

.TableStyle-ShellabTableStyle-Column-Column5
{
	
}

.TableStyle-ShellabTableStyle-Head-Header1
{
	
}

.TableStyle-ShellabTableStyle-HeadI-Column1-Header1
{
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-HeadI-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-ShellabTableStyle-HeadE-Column1-Header1
{
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-ShellabTableStyle-HeadE-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-ShellabTableStyle-HeadF-Column1-Header1
{
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-ShellabTableStyle-HeadF-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-ShellabTableStyle-HeadH-Column1-Header1
{
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-HeadH-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-ShellabTableStyle-HeadD-Column1-Header1
{
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-ShellabTableStyle-HeadD-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-ShellabTableStyle-HeadC-Column1-Header1
{
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-HeadC-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-ShellabTableStyle-HeadB-Column1-Header1
{
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-HeadB-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-ShellabTableStyle-HeadA-Column1-Header1
{
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-HeadA-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-ShellabTableStyle-HeadG-Column1-Header1
{
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-HeadG-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-ShellabTableStyle-HeadI-Column2-Header1
{
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-HeadI-Column2-Header1 p
{
	font-weight: bold;
}

.TableStyle-ShellabTableStyle-HeadE-Column2-Header1
{
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-ShellabTableStyle-HeadE-Column2-Header1 p
{
	font-weight: bold;
}

.TableStyle-ShellabTableStyle-HeadF-Column2-Header1
{
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-ShellabTableStyle-HeadF-Column2-Header1 p
{
	font-weight: bold;
}

.TableStyle-ShellabTableStyle-HeadH-Column2-Header1
{
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-HeadH-Column2-Header1 p
{
	font-weight: bold;
}

.TableStyle-ShellabTableStyle-HeadD-Column2-Header1
{
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-ShellabTableStyle-HeadD-Column2-Header1 p
{
	font-weight: bold;
}

.TableStyle-ShellabTableStyle-HeadC-Column2-Header1
{
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-HeadC-Column2-Header1 p
{
	font-weight: bold;
}

.TableStyle-ShellabTableStyle-HeadB-Column2-Header1
{
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-HeadB-Column2-Header1 p
{
	font-weight: bold;
}

.TableStyle-ShellabTableStyle-HeadA-Column2-Header1
{
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-HeadA-Column2-Header1 p
{
	font-weight: bold;
}

.TableStyle-ShellabTableStyle-HeadG-Column2-Header1
{
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-HeadG-Column2-Header1 p
{
	font-weight: bold;
}

.TableStyle-ShellabTableStyle-HeadI-Column3-Header1
{
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-HeadI-Column3-Header1 p
{
	font-weight: bold;
}

.TableStyle-ShellabTableStyle-HeadE-Column3-Header1
{
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-ShellabTableStyle-HeadE-Column3-Header1 p
{
	font-weight: bold;
}

.TableStyle-ShellabTableStyle-HeadF-Column3-Header1
{
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-ShellabTableStyle-HeadF-Column3-Header1 p
{
	font-weight: bold;
}

.TableStyle-ShellabTableStyle-HeadH-Column3-Header1
{
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-HeadH-Column3-Header1 p
{
	font-weight: bold;
}

.TableStyle-ShellabTableStyle-HeadD-Column3-Header1
{
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-ShellabTableStyle-HeadD-Column3-Header1 p
{
	font-weight: bold;
}

.TableStyle-ShellabTableStyle-HeadC-Column3-Header1
{
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-HeadC-Column3-Header1 p
{
	font-weight: bold;
}

.TableStyle-ShellabTableStyle-HeadB-Column3-Header1
{
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-HeadB-Column3-Header1 p
{
	font-weight: bold;
}

.TableStyle-ShellabTableStyle-HeadA-Column3-Header1
{
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-HeadA-Column3-Header1 p
{
	font-weight: bold;
}

.TableStyle-ShellabTableStyle-HeadG-Column3-Header1
{
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-HeadG-Column3-Header1 p
{
	font-weight: bold;
}

.TableStyle-ShellabTableStyle-HeadI-Column4-Header1
{
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-HeadI-Column4-Header1 p
{
	font-weight: bold;
}

.TableStyle-ShellabTableStyle-HeadE-Column4-Header1
{
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-ShellabTableStyle-HeadE-Column4-Header1 p
{
	font-weight: bold;
}

.TableStyle-ShellabTableStyle-HeadF-Column4-Header1
{
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-ShellabTableStyle-HeadF-Column4-Header1 p
{
	font-weight: bold;
}

.TableStyle-ShellabTableStyle-HeadH-Column4-Header1
{
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-HeadH-Column4-Header1 p
{
	font-weight: bold;
}

.TableStyle-ShellabTableStyle-HeadD-Column4-Header1
{
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-ShellabTableStyle-HeadD-Column4-Header1 p
{
	font-weight: bold;
}

.TableStyle-ShellabTableStyle-HeadC-Column4-Header1
{
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-HeadC-Column4-Header1 p
{
	font-weight: bold;
}

.TableStyle-ShellabTableStyle-HeadB-Column4-Header1
{
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-HeadB-Column4-Header1 p
{
	font-weight: bold;
}

.TableStyle-ShellabTableStyle-HeadA-Column4-Header1
{
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-HeadA-Column4-Header1 p
{
	font-weight: bold;
}

.TableStyle-ShellabTableStyle-HeadG-Column4-Header1
{
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-HeadG-Column4-Header1 p
{
	font-weight: bold;
}

.TableStyle-ShellabTableStyle-HeadI-Column5-Header1
{
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-HeadI-Column5-Header1 p
{
	font-weight: bold;
}

.TableStyle-ShellabTableStyle-HeadE-Column5-Header1
{
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-ShellabTableStyle-HeadE-Column5-Header1 p
{
	font-weight: bold;
}

.TableStyle-ShellabTableStyle-HeadF-Column5-Header1
{
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-ShellabTableStyle-HeadF-Column5-Header1 p
{
	font-weight: bold;
}

.TableStyle-ShellabTableStyle-HeadH-Column5-Header1
{
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-HeadH-Column5-Header1 p
{
	font-weight: bold;
}

.TableStyle-ShellabTableStyle-HeadD-Column5-Header1
{
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-ShellabTableStyle-HeadD-Column5-Header1 p
{
	font-weight: bold;
}

.TableStyle-ShellabTableStyle-HeadC-Column5-Header1
{
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-HeadC-Column5-Header1 p
{
	font-weight: bold;
}

.TableStyle-ShellabTableStyle-HeadB-Column5-Header1
{
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-HeadB-Column5-Header1 p
{
	font-weight: bold;
}

.TableStyle-ShellabTableStyle-HeadA-Column5-Header1
{
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-HeadA-Column5-Header1 p
{
	font-weight: bold;
}

.TableStyle-ShellabTableStyle-HeadG-Column5-Header1
{
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-HeadG-Column5-Header1 p
{
	font-weight: bold;
}

.TableStyle-ShellabTableStyle-FootI-Column1-
{
	text-align: left;
	vertical-align: middle;
	padding-left: 40px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-FootI-Column1- p
{
	
}

.TableStyle-ShellabTableStyle-FootE-Column1-
{
	text-align: left;
	vertical-align: middle;
	padding-left: 40px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-ShellabTableStyle-FootE-Column1- p
{
	
}

.TableStyle-ShellabTableStyle-FootF-Column1-
{
	text-align: left;
	vertical-align: middle;
	padding-left: 40px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-FootF-Column1- p
{
	
}

.TableStyle-ShellabTableStyle-FootH-Column1-
{
	text-align: left;
	vertical-align: middle;
	padding-left: 40px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-ShellabTableStyle-FootH-Column1- p
{
	
}

.TableStyle-ShellabTableStyle-FootD-Column1-
{
	text-align: left;
	vertical-align: middle;
	padding-left: 40px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-FootD-Column1- p
{
	
}

.TableStyle-ShellabTableStyle-FootC-Column1-
{
	text-align: left;
	vertical-align: middle;
	padding-left: 40px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-FootC-Column1- p
{
	
}

.TableStyle-ShellabTableStyle-FootB-Column1-
{
	text-align: left;
	vertical-align: middle;
	padding-left: 40px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-ShellabTableStyle-FootB-Column1- p
{
	
}

.TableStyle-ShellabTableStyle-FootA-Column1-
{
	text-align: left;
	vertical-align: middle;
	padding-left: 40px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-FootA-Column1- p
{
	
}

.TableStyle-ShellabTableStyle-FootG-Column1-
{
	text-align: left;
	vertical-align: middle;
	padding-left: 40px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-FootG-Column1- p
{
	
}

.TableStyle-ShellabTableStyle-FootI-Column2-
{
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-FootI-Column2- p
{
	
}

.TableStyle-ShellabTableStyle-FootE-Column2-
{
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-FootE-Column2- p
{
	
}

.TableStyle-ShellabTableStyle-FootF-Column2-
{
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-FootF-Column2- p
{
	
}

.TableStyle-ShellabTableStyle-FootH-Column2-
{
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-FootH-Column2- p
{
	
}

.TableStyle-ShellabTableStyle-FootD-Column2-
{
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-FootD-Column2- p
{
	
}

.TableStyle-ShellabTableStyle-FootC-Column2-
{
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-FootC-Column2- p
{
	
}

.TableStyle-ShellabTableStyle-FootB-Column2-
{
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-FootB-Column2- p
{
	
}

.TableStyle-ShellabTableStyle-FootA-Column2-
{
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-FootA-Column2- p
{
	
}

.TableStyle-ShellabTableStyle-FootG-Column2-
{
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-FootG-Column2- p
{
	
}

.TableStyle-ShellabTableStyle-FootI-Column3-
{
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-FootI-Column3- p
{
	
}

.TableStyle-ShellabTableStyle-FootE-Column3-
{
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-FootE-Column3- p
{
	
}

.TableStyle-ShellabTableStyle-FootF-Column3-
{
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-FootF-Column3- p
{
	
}

.TableStyle-ShellabTableStyle-FootH-Column3-
{
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-FootH-Column3- p
{
	
}

.TableStyle-ShellabTableStyle-FootD-Column3-
{
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-FootD-Column3- p
{
	
}

.TableStyle-ShellabTableStyle-FootC-Column3-
{
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-FootC-Column3- p
{
	
}

.TableStyle-ShellabTableStyle-FootB-Column3-
{
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-FootB-Column3- p
{
	
}

.TableStyle-ShellabTableStyle-FootA-Column3-
{
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-FootA-Column3- p
{
	
}

.TableStyle-ShellabTableStyle-FootG-Column3-
{
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-FootG-Column3- p
{
	
}

.TableStyle-ShellabTableStyle-FootI-Column4-
{
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-FootI-Column4- p
{
	
}

.TableStyle-ShellabTableStyle-FootE-Column4-
{
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-FootE-Column4- p
{
	
}

.TableStyle-ShellabTableStyle-FootF-Column4-
{
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-FootF-Column4- p
{
	
}

.TableStyle-ShellabTableStyle-FootH-Column4-
{
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-FootH-Column4- p
{
	
}

.TableStyle-ShellabTableStyle-FootD-Column4-
{
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-FootD-Column4- p
{
	
}

.TableStyle-ShellabTableStyle-FootC-Column4-
{
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-FootC-Column4- p
{
	
}

.TableStyle-ShellabTableStyle-FootB-Column4-
{
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-FootB-Column4- p
{
	
}

.TableStyle-ShellabTableStyle-FootA-Column4-
{
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-FootA-Column4- p
{
	
}

.TableStyle-ShellabTableStyle-FootG-Column4-
{
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-FootG-Column4- p
{
	
}

.TableStyle-ShellabTableStyle-FootI-Column5-
{
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-FootI-Column5- p
{
	
}

.TableStyle-ShellabTableStyle-FootE-Column5-
{
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-FootE-Column5- p
{
	
}

.TableStyle-ShellabTableStyle-FootF-Column5-
{
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-FootF-Column5- p
{
	
}

.TableStyle-ShellabTableStyle-FootH-Column5-
{
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-FootH-Column5- p
{
	
}

.TableStyle-ShellabTableStyle-FootD-Column5-
{
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-FootD-Column5- p
{
	
}

.TableStyle-ShellabTableStyle-FootC-Column5-
{
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-FootC-Column5- p
{
	
}

.TableStyle-ShellabTableStyle-FootB-Column5-
{
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-FootB-Column5- p
{
	
}

.TableStyle-ShellabTableStyle-FootA-Column5-
{
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-FootA-Column5- p
{
	
}

.TableStyle-ShellabTableStyle-FootG-Column5-
{
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-FootG-Column5- p
{
	
}

.TableStyle-ShellabTableStyle-Body-Body1
{
	
}

.TableStyle-ShellabTableStyle-BodyI-Column1-Body1
{
	background-color: #f5f5f5;
	text-align: left;
	vertical-align: middle;
	padding-left: 40px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-BodyI-Column1-Body1 p
{
	
}

.TableStyle-ShellabTableStyle-BodyE-Column1-Body1
{
	background-color: #f5f5f5;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: middle;
	padding-left: 40px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-ShellabTableStyle-BodyE-Column1-Body1 p
{
	
}

.TableStyle-ShellabTableStyle-BodyF-Column1-Body1
{
	background-color: #f5f5f5;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: middle;
	padding-left: 40px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-BodyF-Column1-Body1 p
{
	
}

.TableStyle-ShellabTableStyle-BodyH-Column1-Body1
{
	background-color: #f5f5f5;
	text-align: left;
	vertical-align: middle;
	padding-left: 40px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-ShellabTableStyle-BodyH-Column1-Body1 p
{
	
}

.TableStyle-ShellabTableStyle-BodyD-Column1-Body1
{
	background-color: #f5f5f5;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: middle;
	padding-left: 40px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-BodyD-Column1-Body1 p
{
	
}

.TableStyle-ShellabTableStyle-BodyC-Column1-Body1
{
	background-color: #f5f5f5;
	text-align: left;
	vertical-align: middle;
	padding-left: 40px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-BodyC-Column1-Body1 p
{
	
}

.TableStyle-ShellabTableStyle-BodyB-Column1-Body1
{
	background-color: #f5f5f5;
	text-align: left;
	vertical-align: middle;
	padding-left: 40px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-ShellabTableStyle-BodyB-Column1-Body1 p
{
	
}

.TableStyle-ShellabTableStyle-BodyA-Column1-Body1
{
	background-color: #f5f5f5;
	text-align: left;
	vertical-align: middle;
	padding-left: 40px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-BodyA-Column1-Body1 p
{
	
}

.TableStyle-ShellabTableStyle-BodyG-Column1-Body1
{
	background-color: #f5f5f5;
	text-align: left;
	vertical-align: middle;
	padding-left: 40px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-BodyG-Column1-Body1 p
{
	
}

.TableStyle-ShellabTableStyle-BodyI-Column2-Body1
{
	background-color: #f5f5f5;
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-BodyI-Column2-Body1 p
{
	
}

.TableStyle-ShellabTableStyle-BodyE-Column2-Body1
{
	background-color: #f5f5f5;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-BodyE-Column2-Body1 p
{
	
}

.TableStyle-ShellabTableStyle-BodyF-Column2-Body1
{
	background-color: #f5f5f5;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-BodyF-Column2-Body1 p
{
	
}

.TableStyle-ShellabTableStyle-BodyH-Column2-Body1
{
	background-color: #f5f5f5;
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-BodyH-Column2-Body1 p
{
	
}

.TableStyle-ShellabTableStyle-BodyD-Column2-Body1
{
	background-color: #f5f5f5;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-BodyD-Column2-Body1 p
{
	
}

.TableStyle-ShellabTableStyle-BodyC-Column2-Body1
{
	background-color: #f5f5f5;
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-BodyC-Column2-Body1 p
{
	
}

.TableStyle-ShellabTableStyle-BodyB-Column2-Body1
{
	background-color: #f5f5f5;
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-BodyB-Column2-Body1 p
{
	
}

.TableStyle-ShellabTableStyle-BodyA-Column2-Body1
{
	background-color: #f5f5f5;
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-BodyA-Column2-Body1 p
{
	
}

.TableStyle-ShellabTableStyle-BodyG-Column2-Body1
{
	background-color: #f5f5f5;
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-BodyG-Column2-Body1 p
{
	
}

.TableStyle-ShellabTableStyle-BodyI-Column3-Body1
{
	background-color: #f5f5f5;
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-BodyI-Column3-Body1 p
{
	
}

.TableStyle-ShellabTableStyle-BodyE-Column3-Body1
{
	background-color: #f5f5f5;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-BodyE-Column3-Body1 p
{
	
}

.TableStyle-ShellabTableStyle-BodyF-Column3-Body1
{
	background-color: #f5f5f5;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-BodyF-Column3-Body1 p
{
	
}

.TableStyle-ShellabTableStyle-BodyH-Column3-Body1
{
	background-color: #f5f5f5;
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-BodyH-Column3-Body1 p
{
	
}

.TableStyle-ShellabTableStyle-BodyD-Column3-Body1
{
	background-color: #f5f5f5;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-BodyD-Column3-Body1 p
{
	
}

.TableStyle-ShellabTableStyle-BodyC-Column3-Body1
{
	background-color: #f5f5f5;
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-BodyC-Column3-Body1 p
{
	
}

.TableStyle-ShellabTableStyle-BodyB-Column3-Body1
{
	background-color: #f5f5f5;
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-BodyB-Column3-Body1 p
{
	
}

.TableStyle-ShellabTableStyle-BodyA-Column3-Body1
{
	background-color: #f5f5f5;
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-BodyA-Column3-Body1 p
{
	
}

.TableStyle-ShellabTableStyle-BodyG-Column3-Body1
{
	background-color: #f5f5f5;
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-BodyG-Column3-Body1 p
{
	
}

.TableStyle-ShellabTableStyle-BodyI-Column4-Body1
{
	background-color: #f5f5f5;
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-BodyI-Column4-Body1 p
{
	
}

.TableStyle-ShellabTableStyle-BodyE-Column4-Body1
{
	background-color: #f5f5f5;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-BodyE-Column4-Body1 p
{
	
}

.TableStyle-ShellabTableStyle-BodyF-Column4-Body1
{
	background-color: #f5f5f5;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-BodyF-Column4-Body1 p
{
	
}

.TableStyle-ShellabTableStyle-BodyH-Column4-Body1
{
	background-color: #f5f5f5;
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-BodyH-Column4-Body1 p
{
	
}

.TableStyle-ShellabTableStyle-BodyD-Column4-Body1
{
	background-color: #f5f5f5;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-BodyD-Column4-Body1 p
{
	
}

.TableStyle-ShellabTableStyle-BodyC-Column4-Body1
{
	background-color: #f5f5f5;
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-BodyC-Column4-Body1 p
{
	
}

.TableStyle-ShellabTableStyle-BodyB-Column4-Body1
{
	background-color: #f5f5f5;
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-BodyB-Column4-Body1 p
{
	
}

.TableStyle-ShellabTableStyle-BodyA-Column4-Body1
{
	background-color: #f5f5f5;
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-BodyA-Column4-Body1 p
{
	
}

.TableStyle-ShellabTableStyle-BodyG-Column4-Body1
{
	background-color: #f5f5f5;
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-BodyG-Column4-Body1 p
{
	
}

.TableStyle-ShellabTableStyle-BodyI-Column5-Body1
{
	background-color: #f5f5f5;
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-BodyI-Column5-Body1 p
{
	
}

.TableStyle-ShellabTableStyle-BodyE-Column5-Body1
{
	background-color: #f5f5f5;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-BodyE-Column5-Body1 p
{
	
}

.TableStyle-ShellabTableStyle-BodyF-Column5-Body1
{
	background-color: #f5f5f5;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-BodyF-Column5-Body1 p
{
	
}

.TableStyle-ShellabTableStyle-BodyH-Column5-Body1
{
	background-color: #f5f5f5;
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-BodyH-Column5-Body1 p
{
	
}

.TableStyle-ShellabTableStyle-BodyD-Column5-Body1
{
	background-color: #f5f5f5;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-BodyD-Column5-Body1 p
{
	
}

.TableStyle-ShellabTableStyle-BodyC-Column5-Body1
{
	background-color: #f5f5f5;
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-BodyC-Column5-Body1 p
{
	
}

.TableStyle-ShellabTableStyle-BodyB-Column5-Body1
{
	background-color: #f5f5f5;
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-BodyB-Column5-Body1 p
{
	
}

.TableStyle-ShellabTableStyle-BodyA-Column5-Body1
{
	background-color: #f5f5f5;
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-BodyA-Column5-Body1 p
{
	
}

.TableStyle-ShellabTableStyle-BodyG-Column5-Body1
{
	background-color: #f5f5f5;
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-ShellabTableStyle-BodyG-Column5-Body1 p
{
	
}


