/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: TableTestStyle;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	max-id: 4;
	margin-left: 12px;
	margin-right: 12px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	size: 33%;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
	text-align: center;
	background-color: #98fb98;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Yellow;
	id: 1;
	background-color: #faebd7;
	text-align: center;
}

mcTableBodyStyle
{
	span: 1;
	id: 4;
	name: Blue;
	background-color: #87ceeb;
	text-align: center;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
}


/* Cell Styles: */
 
.TableStyle-TableTestStyle
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	margin-left: 12px;
	margin-right: 12px;
	border-spacing: 0px 0px;
}

.TableStyle-TableTestStyle-Column-Column1
{
	width: 33%;
}

.TableStyle-TableTestStyle-Head-Header1
{
	
}

.TableStyle-TableTestStyle-HeadI-Column1-Header1
{
	text-align: center;
	background-color: #98fb98;
}

.TableStyle-TableTestStyle-HeadI-Column1-Header1 p
{
	
}

.TableStyle-TableTestStyle-HeadE-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: center;
	background-color: #98fb98;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-TableTestStyle-HeadE-Column1-Header1 p
{
	
}

.TableStyle-TableTestStyle-HeadF-Column1-Header1
{
	text-align: center;
	background-color: #98fb98;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-TableTestStyle-HeadF-Column1-Header1 p
{
	
}

.TableStyle-TableTestStyle-HeadH-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: center;
	background-color: #98fb98;
}

.TableStyle-TableTestStyle-HeadH-Column1-Header1 p
{
	
}

.TableStyle-TableTestStyle-HeadD-Column1-Header1
{
	text-align: center;
	background-color: #98fb98;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-TableTestStyle-HeadD-Column1-Header1 p
{
	
}

.TableStyle-TableTestStyle-HeadC-Column1-Header1
{
	text-align: center;
	background-color: #98fb98;
}

.TableStyle-TableTestStyle-HeadC-Column1-Header1 p
{
	
}

.TableStyle-TableTestStyle-HeadB-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: center;
	background-color: #98fb98;
}

.TableStyle-TableTestStyle-HeadB-Column1-Header1 p
{
	
}

.TableStyle-TableTestStyle-HeadA-Column1-Header1
{
	text-align: center;
	background-color: #98fb98;
}

.TableStyle-TableTestStyle-HeadA-Column1-Header1 p
{
	
}

.TableStyle-TableTestStyle-HeadG-Column1-Header1
{
	text-align: center;
	background-color: #98fb98;
}

.TableStyle-TableTestStyle-HeadG-Column1-Header1 p
{
	
}

.TableStyle-TableTestStyle-FootI-Column1-
{
	
}

.TableStyle-TableTestStyle-FootI-Column1- p
{
	
}

.TableStyle-TableTestStyle-FootE-Column1-
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-TableTestStyle-FootE-Column1- p
{
	
}

.TableStyle-TableTestStyle-FootF-Column1-
{
	
}

.TableStyle-TableTestStyle-FootF-Column1- p
{
	
}

.TableStyle-TableTestStyle-FootH-Column1-
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-TableTestStyle-FootH-Column1- p
{
	
}

.TableStyle-TableTestStyle-FootD-Column1-
{
	
}

.TableStyle-TableTestStyle-FootD-Column1- p
{
	
}

.TableStyle-TableTestStyle-FootC-Column1-
{
	
}

.TableStyle-TableTestStyle-FootC-Column1- p
{
	
}

.TableStyle-TableTestStyle-FootB-Column1-
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-TableTestStyle-FootB-Column1- p
{
	
}

.TableStyle-TableTestStyle-FootA-Column1-
{
	
}

.TableStyle-TableTestStyle-FootA-Column1- p
{
	
}

.TableStyle-TableTestStyle-FootG-Column1-
{
	
}

.TableStyle-TableTestStyle-FootG-Column1- p
{
	
}

.TableStyle-TableTestStyle-Body-Yellow
{
	
}

.TableStyle-TableTestStyle-BodyI-Column1-Yellow
{
	text-align: center;
	background-color: #faebd7;
}

.TableStyle-TableTestStyle-BodyI-Column1-Yellow p
{
	
}

.TableStyle-TableTestStyle-BodyE-Column1-Yellow
{
	text-align: center;
	background-color: #faebd7;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-TableTestStyle-BodyE-Column1-Yellow p
{
	
}

.TableStyle-TableTestStyle-BodyF-Column1-Yellow
{
	text-align: center;
	background-color: #faebd7;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-TableTestStyle-BodyF-Column1-Yellow p
{
	
}

.TableStyle-TableTestStyle-BodyH-Column1-Yellow
{
	text-align: center;
	background-color: #faebd7;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-TableTestStyle-BodyH-Column1-Yellow p
{
	
}

.TableStyle-TableTestStyle-BodyD-Column1-Yellow
{
	text-align: center;
	background-color: #faebd7;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-TableTestStyle-BodyD-Column1-Yellow p
{
	
}

.TableStyle-TableTestStyle-BodyC-Column1-Yellow
{
	text-align: center;
	background-color: #faebd7;
}

.TableStyle-TableTestStyle-BodyC-Column1-Yellow p
{
	
}

.TableStyle-TableTestStyle-BodyB-Column1-Yellow
{
	text-align: center;
	background-color: #faebd7;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-TableTestStyle-BodyB-Column1-Yellow p
{
	
}

.TableStyle-TableTestStyle-BodyA-Column1-Yellow
{
	text-align: center;
	background-color: #faebd7;
}

.TableStyle-TableTestStyle-BodyA-Column1-Yellow p
{
	
}

.TableStyle-TableTestStyle-BodyG-Column1-Yellow
{
	text-align: center;
	background-color: #faebd7;
}

.TableStyle-TableTestStyle-BodyG-Column1-Yellow p
{
	
}

.TableStyle-TableTestStyle-Body-Blue
{
	
}

.TableStyle-TableTestStyle-BodyI-Column1-Blue
{
	text-align: center;
	background-color: #87ceeb;
}

.TableStyle-TableTestStyle-BodyI-Column1-Blue p
{
	
}

.TableStyle-TableTestStyle-BodyE-Column1-Blue
{
	text-align: center;
	background-color: #87ceeb;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-TableTestStyle-BodyE-Column1-Blue p
{
	
}

.TableStyle-TableTestStyle-BodyF-Column1-Blue
{
	text-align: center;
	background-color: #87ceeb;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-TableTestStyle-BodyF-Column1-Blue p
{
	
}

.TableStyle-TableTestStyle-BodyH-Column1-Blue
{
	text-align: center;
	background-color: #87ceeb;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-TableTestStyle-BodyH-Column1-Blue p
{
	
}

.TableStyle-TableTestStyle-BodyD-Column1-Blue
{
	text-align: center;
	background-color: #87ceeb;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-TableTestStyle-BodyD-Column1-Blue p
{
	
}

.TableStyle-TableTestStyle-BodyC-Column1-Blue
{
	text-align: center;
	background-color: #87ceeb;
}

.TableStyle-TableTestStyle-BodyC-Column1-Blue p
{
	
}

.TableStyle-TableTestStyle-BodyB-Column1-Blue
{
	text-align: center;
	background-color: #87ceeb;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-TableTestStyle-BodyB-Column1-Blue p
{
	
}

.TableStyle-TableTestStyle-BodyA-Column1-Blue
{
	text-align: center;
	background-color: #87ceeb;
}

.TableStyle-TableTestStyle-BodyA-Column1-Blue p
{
	
}

.TableStyle-TableTestStyle-BodyG-Column1-Blue
{
	text-align: center;
	background-color: #87ceeb;
}

.TableStyle-TableTestStyle-BodyG-Column1-Blue p
{
	
}

